
body {
  line-height: 1;
  font-family: "Montserrat";
}

/* Login bar */
ul.nav.justify-content-end {
  padding-right: 40px;
}

.icons {
  color: #fff;
  padding: 0px 5px;
}
.dropdown-item {
  padding: 1rem 1rem;
}
@media only screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

.head-font1{
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      color: black;
      padding-top: 12%;
 }
.head-font{
    text-align: center;
    padding-top: 2%;
    color: #F5FDB0;
    font-size: 30px;
    font-weight: bolder;
    padding-top: 14%;
    padding-left: 55%;
}

.head-img{
    background-image: url('images/DSC_0246.JPG');
    width: 100%;
    height: 700px;
    background-size: cover;
}
#Infraa{
  margin-top: 4%;  
  padding-bottom: 5%;
}
.sports-infra{
  padding-left: 3%;
  padding-right: 3%;
}
.hello{
  padding-bottom: 2%;
}
.som_table{
  padding-top: 5%;
  padding-right: 6%;
}
#cricket{
  background-color: black;
  height: 1000px;
  width: 100%;
  color: #fff;
}
.tab-head{
  letter-spacing: 2px;
  text-align: center;
}
.img-360{
  padding-top: 4%;
  width: 100%;
  height: auto;
  padding: 2%;
}

.football-text{
  padding-top: 8%;
  padding-left: 6%;
  display: inline-block;
  width: 45%;
}
.foot-img{
  float: right;
  padding: 3%;
  height: 30%;
  width: 50%;
}
#track{
  padding-top: 5%;
}
.track-text{
  padding-top: 8%;
  padding-left: 6%;
  display: inline-block;
  width: 45%;
}
.track-img{
  float: left;
  padding: 3%;
  height: 30%;
  width: 50%;
}

#basketball{
  padding-top: 5%;
}
.basketball-text{
  padding-top: 8%;
  padding-left: 6%;
  display: inline-block;
  width: 45%;
}
.basketball-img{
  float: right;
  padding: 3%;
  height: 30%;
  width: 50%;
}
/* Footer section */
#footer {
  margin-top: 5%;
  padding: 3% 2%;
  background-color: #094664;
  text-align: center;
}
#footer p {
  color: #fff;
  display: inline-block;
}
.contact {
  border: 5px solid #094664;
}

.c-icons {
  color: #fff;
  padding-right: 5px;
}
.copyright {
  background-color: #094664;
  font-size: 0.65rem;
  padding: 3px 0px;
  margin-bottom: 0;
}
.center {
  margin-left: 20%;
  margin-right: auto;
}
