/* Whole body of website */
body {
  line-height: 1.5;
  font-family: "Montserrat";
}
h2 {
  font-weight: bolder;
}

video {
  object-fit: contain;
}

/* Login bar */
ul.nav.justify-content-end {
  padding-right: 40px;
}

.icons {
  color: #fff;
  padding: 0px 5px;
}

/* Navigation bar */
.logo {
  margin: 0 30px;
}
.navigation {
  padding: 3px 0;
}
#NavBar .nav-item {
  padding: 0px 10px;
}

a.nav-link {
  padding: 0.5rem 0.1rem;
}

.dropdown-item {
  padding: 1rem 1rem;
}

/* Image Carousel */
.carousel-item img {
  width: 100%;
  height: 300px;
}

/* Video */

.homeBannerVideo video {
  position: relative;
  z-index: 0;
  top: 0;
  width: 100%;
  height: 40%;
}
/* .VideoBannerText {
  position: absolute;
  top: 50%;
  left: 32%;
  z-index: 1;
  text-align: center;
}
.VideoBannerText {
  background-color: rgba(252, 252, 252, 0.966);
}
.topText {
  color: #000;
  font-size: 4.5rem;
  align-self: center;
  font-weight: bolder;
}
.topPara {
  font-size: 1.5rem;
} */
/* Announcements and latest news division */
.ann {
  margin-top: 5%;
  padding: 2% 5% 2%;
  background-color: #fff;
}
.announcements {
  text-align: center;
  padding: 0.5rem 0rem;
  margin-bottom: 2.5rem;
  background-color: #005a87;
  color: #fff;
  font-weight: 900;
}
.card {
  border-radius: 0;
}
.card:hover {
  transform: scale(1.2);
  z-index: 11; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.new-icon {
  width: 20%;
  float: right;
}
.new {
  background: #24c6dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #514a9d,
    #24c6dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #514a9d,
    #24c6dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: 1.5px #fffefa solid;
  color: #fff;
}
.old {
  background-color: #fffefa;
  border: 1.5px #005a87 solid;
  color: #000;
}
/* #second-div {
  background-color: #fff;
  margin-top: 5%;
}

#second-div h4 {
  padding-left: 12px;
  padding-bottom: 10px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}
.data {
  margin: 0;
  font-size: 15px;
  padding: 17px;
}
.scroller {
  width: 95%;
  height: 450px;
  overflow-y: scroll;
  scrollbar-color: #fff #0065b3;
  scrollbar-width: thin;
  overflow-x: hidden;
  margin-left: 10px;
  margin: 0 0 0 10px;
} */

/* Footer section */
#footer {
  margin-top: 5%;
  padding: 3% 2%;
  background-color: #094664;
  text-align: center;
}
#footer p {
  color: #fff;
  display: inline-block;
}
.contact {
  border: 5px solid #094664;
}
.contact a {
  color: #fff;
  text-decoration: none;
}

.c-icons {
  color: #fff;
  padding-right: 5px;
}
.copyright {
  background-color: #094664;
  font-size: 0.65rem;
  padding: 3px 0px;
  margin-bottom: 0;
}
/*font-family: 'Montserrat', sans-serif;*/

/* Scholarship page */
/* Image section */
.top {
  position: relative;
  margin: 0px !important;
  padding: 0px;
}
.bannerWrap {
  height: 539px;
  position: relative;
  background-size: cover !important;
  background-position: center right !important;
  object-fit: fill;
}
.bannerWrapCaption {
  height: 539px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  width: 25%;
  background: #094664;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bannerAngledOne {
  position: absolute;
  top: 0;
  z-index: 5;
  width: 16%;
  left: 15%;
  height: 539px;
  background: #094664;
  transform: skewX(-14deg);
}

.bannerAngledTwo {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 5%;
  left: 30.5%;
  height: 539px;
  background: #094664;
  transform: skewX(-14deg);
  opacity: 0.2;
}

#Imgtxt h2 {
  font-size: 2.5rem;
  color: #fff;
}

/* Text section */
#text-section {
  padding: 3% 5%;
}
.why {
  padding-top: 10px;
  font-weight: bold;
}

/* Quota section */
.sport-item {
  list-style: none;
  display: inline-block;
  padding-left: 1rem;
}
/* Events page */
.topic {
  padding: 2% 2.5% 1%;
}
.sidearm-calendar.sidearm-calendar-template-default .sidearm-calendar-chooser {
  border: 1px solid #cccccc;
}

/* Forms */
.month {
  color: #fff;
  font-weight: bold;
  font-size: 1.25rem;
}
.form-inline {
  margin-bottom: 20px;
  background-color: #094664;
  padding: 10px 10px;
}
.form-group {
  margin: 0px 25px;
}

/* Scholarship */
.top {
  position: relative;
  margin: 0px !important;
  padding: 0px;
}

.bannerWrap {
  height: 539px;
  position: relative;
  background-size: cover !important;
  background-position: center right !important;
  object-fit: fill;
}

.bannerWrapCaption {
  height: 539px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  width: 25%;
  background: #094664;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerAngledOne {
  position: absolute;
  top: 0;
  z-index: 5;
  width: 16%;
  left: 15%;
  height: 539px;
  background: #094664;
  transform: skewX(-14deg);
}

.bannerAngledTwo {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 5%;
  left: 30.5%;
  height: 539px;
  background: #094664;
  transform: skewX(-14deg);
  opacity: 0.2;
}

#Imgtxt h2 {
  font-size: 2.5rem;
  color: #fff;
}

/* Text section */
#text-section {
  padding: 3% 5%;
}

.why {
  padding-top: 10px;
  font-weight: bold;
}

/* Testimonials */
#testimonials {
  padding: 2% 5%;
}

.doodad hr {
  border: none;
  border-top: 2px solid #0096d6;
  text-align: center;
  line-height: 48px;
  height: 22px;
  margin-top: 24px;
  background-color: #fff;
  overflow: visible;
}

div.doodad hr:after {
  content: url("https://www.gwu.edu/sites/all/themes/gwu_marketing/images/hr/doodad.svg");
  display: inline-block;
  position: relative;
  top: -24px;
  padding: 0 6px;
  background: #fff;
  height: 48px;
}

.doodad-not hr {
  border: none;
  border-top: 2px solid #0096d6;
  text-align: center;
  line-height: 48px;
  height: 22px;
  margin-top: 24px;
  background-color: #fff;
  overflow: visible;
}

.container-fluid .i-wrap img {
  height: auto !important;
  width: 25% !important;
  float: right;
  padding-right: 3%;
}

.quote {
  padding: 3% 7% 3% 3%;
  width: 75%;
  display: inline-block;
}

.name {
  padding: 3% 7% 3% 3%;
  width: 75%;
  display: inline-block;
  font-weight: bold;
}

/* Criteria section */
#criteria {
  padding: 1% 5% 0%;
  text-align: center;
}

.criteria-head {
  padding-bottom: 2%;
}

.details p {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 2% 7%;
}

.left {
  margin-right: 20px;
}

/* Teams page */
#team-nav {
  padding: 4px 31px 4px;
  color: #005a87;
  text-align: center;
}

#team-nav:hover {
  background-color: #dae0e7;
}

/* Image - title */

.text-mask {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;

  /* now center the mask*/
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 15%;
  padding: 10px;
  text-align: center;
}
.header {
  /* The image used */
  background-image: url("/images/SSN\ cricket.png");

  /* blur effect */
  filter: blur(4px);
  -webkit-filter: blur(4px);

  /* Full height size*/
  height: 420px;

  /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Drop down menu */
#menu {
  position: fixed;
  right: 0;
  top: 50%;
  width: 8em;
  margin-top: -2.5em;
}

/* Mobile response section */
@media only screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

@media only screen and (max-width: 900px) {
  .bannerWrap {
    height: 300px;
    position: relative;
    background-size: cover !important;
    background-position: center right !important;
    object-fit: fill;
  }

  .bannerWrapCaption {
    /* height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    width: 25%;
    background: #094664;
    display: flex;
    align-items: center;
    justify-content: center; */
    display: none;
  }

  .bannerAngledOne {
    /* position: absolute;
    top: 0;
    z-index: 5;
    width: 16%;
    left: 15%;
    height: 300px;
    background: #094664;
    transform: skewX(-14deg); */
    display: none;
  }

  .bannerAngledTwo {
    /* position: absolute;
    top: 0;
    z-index: 10;
    width: 5%;
    left: 30.5%;
    height: 300px;
    background: #094664;
    transform: skewX(-14deg);
    opacity: 0.2; */
    display: none;
  }

  #Imgtxt h2 {
    background-color: #094664;
    font-size: 1.25rem;
    color: #000;
  }
  .sch-title {
    display: block;
    color: #fff;
    background-color: #094664;
  }
}

/* Mobile response section */
@media only screen and (max-width: 900px) {
  .navbarDropdown:active {
    display: block;
  }
}
@media only screen and (max-width: 900px) {
  .bannerWrap {
    width: 100%;
    position: relative;
    background-size: cover !important;
    background-position: center right !important;
    object-fit: fill;
  }
}

@media only screen and(max-width: 900px) {
  .topText {
    font-size: 2rem;
  }
  .topPara {
    font-size: 1rem;
  }
}
